.App {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto;
}

/* Column Styles */
.full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.middle {
  grid-column-start: 2;
  grid-column-end: 4;
}

.right {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* Row Styles */
.top {
  grid-row: 1;
}

.double {
  grid-row: 1 / 3;
}

.row-two {
  grid-row: 2;
}

.row-three {
  grid-row: 3;
}

.row-four {
  grid-row: 4;
}