.App {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto;
}

.full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
}

.top {
  grid-row: 1;
}

.row-two {
  grid-row: 2;
}

.row-three {
  grid-row: 3;
}

.row-four {
  grid-row: 4;
}