.AppFooter {
    background-color: #339b23;
}

.AppFooter p {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background: #90f945;
  }