.App-header {
    text-align: center;
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .site-title-text {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-35%, -50%);
    border: solid #7d937b 3px;
    padding: 7px;
  }
  
  .Header-image {
    position: relative;
    text-align: center;
    color: white;
    object-fit: contain;
  }

  .Header-image img {
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }