.App-header {
  display: inline-flex;    
  text-align: center;
  background-color: #339b23;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: auto;

}

  .Header-image {
    position: relative;
    color: white;
    object-fit: contain;
  }

  .site-title-text {
    color: white;
    font-size: 4em;
    padding: 0 8px;
  }
  

  .Header-image img {
    height: 5em;
  }

  .site-link-container {
    margin-left: auto;
    margin-right: auto;
  }

  .site-link {
    display: inline-block;
  }

  .site-link a {
    color: black;
    background-color: rgb(125 230 125);
    padding: 5px;
    text-decoration: none;
  }

  .site-link a:hover {
    text-decoration: underline;
  }

  .site-link-divider {
    display: inline-block;
    padding: 0px 3px;
  }