.App-header {
    text-align: center;
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Header-image {
    position: relative;
    text-align: center;
    color: white;
    object-fit: contain;
    max-width: 1039px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-title-text {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-35%, -50%);
    border: solid #7d937b 3px;
    padding: 7px;
    
  }
  

  .Header-image img {
    max-width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }


  .site-link {
    display: inline-block;
  }

  .site-link a {
    color: black;
    background-color: lime;
    border: solid lime 3px;
    padding: 4px;
    text-decoration: none;
  }

  .site-link a:hover {
    text-decoration: underline;
  }

  .site-link-divider {
    display: inline-block;
    padding: 0px 2px;
  }