body {
    background-color: #282c34;
}

.MainContainer {
    max-width: inherit;
    background-color: #e4e488;
}

.SamplesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.SamplesTitle {
    color: Black;
    text-align: center;
    font-family: sans-serif;
}

.SamplesTitle h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.Sample h2 {
    text-align: center;
    margin: 2px;
}

.Sample img {
    max-width: 70%;
    float: right;
    
}