.MainContainer {
    max-width: inherit;
    background-color: #e8ffd5;
}

.SamplesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Sample {
    padding: 15px;
}

.Sample h2 {
    text-align: center;
    font-size: 2em;
    margin: 2px;
}

.Sample img {
    max-width: 70%;
    float: right;
    padding-left: 5px;
}

.SampleText p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}